<div class="bg">
  <div class="fnav">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-hidden"
      style="height: 50px"
    >
      <button id="h1" mat-icon-button color="accent" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <!-- Navbar content -->
      <div class="container-md justify-content-center">
        <a class="navbar-brand" routerLink="/about" style="font-size: xx-large"
          >ABOUT T-HUB</a
        >
      </div>
      <button
        routerLink=""
        type="button"
        class="btn btn-outline-danger text-light"
      >
        LOGOUT
      </button>
    </nav>
  </div>
  <br />
  <div class="logo position-relative float-end">
    <img src="../../assets/imges/T-HUB.png" height="100px" />
  </div>
</div>
