<div class="bg">
  <div class="fnav">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-hidden"
      style="height: 50px"
    >
      <button id="h1" mat-icon-button color="accent" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <!-- Navbar content -->
      <div class="container-md justify-content-center">
        <a
          class="navbar-brand"
          routerLink="/tcq"
          style="
            font-size: xx-large;
            font-weight: bold;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
            /* margin-left: 17%; */
          "
          >Technical Competency Qualification</a
        >
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <div class="btn-group">
            <button
              class="btn btn-outline-light bg-hidden dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"
                  >Process Workflow and Framework</a
                >
              </li>
              <li><a class="dropdown-item" href="#">TCQ Program Owners</a></li>
            </ul>
          </div>
        </div> -->
      </div>
      <button
        id="log"
        routerLink=""
        type="button"
        class="btn btn-danger text-dark"
      >
        LOGOUT
      </button>
    </nav>
  </div>
  <br />
  <!-- CODE FOR THE T-HUB LOGO -->
  <div class="logo position-relative float-start">
    <img src="../../assets/imges/T-HUB.png" height="100px" />
  </div>
  <!-- CODE FOR CARDS -->
  <div class="total">
    <div class="wrapper">
      <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div
              class="front"
              style="background-image: url(../../assets/imges/Foundation.jpg)"
            >
              <div class="inner" style="font-family: cursive">
                <p>Foundation</p>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Software
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Embedded
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Electrical
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  IT Embedded
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div
              class="front"
              style="background-image: url(../../assets/imges/Basic.jpg)"
            >
              <div class="inner">
                <p>Basic</p>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Software
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Embedded
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Electrical
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  IT Embedded
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div
              class="front"
              style="
                background-image: url(../../assets/imges/Intermediate.jpeg);
              "
            >
              <div class="inner">
                <p>Intermediate</p>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Software
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Embedded
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Electrical
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  IT Embedded
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
          <div class="container">
            <div
              class="front"
              style="background-image: url(../../assets/imges/Hard.jpg)"
            >
              <div class="inner">
                <p>Advance</p>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Software
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Embedded
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  Electrical
                </button>
                <br />
                <br />
                <button
                  routerLink=""
                  type="button"
                  class="btn btn-outline-light"
                >
                  IT Embedded
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END OF THE CARDS -->
