<div class="bg position-fixed">
  <img
    src="../../assets/imges/ABUS.jpg"
    alt="Alpha2"
    height="750px"
    width="100%"
  />
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-hidden" style="height: 50px">
  <button id="h1" mat-icon-button color="accent" routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <!-- Navbar content -->
  <div class="container-md justify-content-center">
    <a class="navbar-brand" routerLink="/about">NEWS FEED</a>
  </div>
  <button routerLink="" type="button" class="btn btn-danger text-dark">
    LOGOUT
  </button>
</nav>
<div class="logo position-relative float-end">
  <img src="../../assets/imges/T-HUB.png" height="100px" />
</div>
